*{
    font-family: 'Sour Gummy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eeeff1;
    scroll-behavior: smooth;
}

header {
    background-color: #e6cd81;
    color: white;
    padding: 40px 0;
    text-align: center;
    font-weight: bold;
    word-spacing: 10px;
}

.right {
    position: absolute;
    right: 15px;
    top: 27px;
}

.right a {
    color: #000;
    text-decoration: none;
}

.left {
    position: absolute;
    left: 15px;
    top: 14px;
}

.left a {
    color: #000;
    text-decoration: none;
    font-size: 40px;
}

.clearfix {
    clear: both;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.img {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    max-width: 400px;
    height: auto;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s;
}

.img:hover img {
    transform: scale(1.1);
}

.bio {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.social-links {
    text-align: center;
    margin: 20px;
    word-spacing: 20px;
}

.social-links i {
    font-size: 24px;
    color: #e8b466;
}

.footer {
    background-color: #e6cd81;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}