*{
    font-family: 'Sour Gummy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

nav {
    background-color: #e6cd81;
    color: white;
    padding: 40px 0;
    text-align: center;
    font-weight: bold;
    word-spacing: 10px;
}

#open-section {
    margin-bottom: 115px;
    background-color: #eeeff1;
    min-height: 100vh;
}

nav .right {
    position: absolute;
    right: 15px;
    top: 27px;
}

.right a {
    color: #000;
    text-decoration: none;
}

.left {
    position: absolute;
    left: 15px;
    top: 14px;
}

.left a {
    color: #000;
    text-decoration: none;
    font-size: 40px;
}

.clearfix {
    clear: both;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.img {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    max-width: 400px;
    height: auto;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s;
}

.img:hover img {
    transform: scale(1.1);
}

.bio {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.social-links {
    text-align: center;
    margin: 20px;
    word-spacing: 20px;
}

.social-links i {
    font-size: 24px;
    color: #e8b466;
}

body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    background-color: #e6cd81;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    width: 100%;
    height: 60px;
}

.gallery {
    padding: 0 6px;
    float: left;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 300px;
    margin-top: 8px;
    border-radius: 10px;
    transition: transform 0.5s;
    object-fit: cover;
}